@media (max-width: 1280px) { 

  .mentors {
    &__block {
      gap: 25px;
    }
  }
} 
@media (max-width: 1200px) { 

  .promo {
    &__logo {
      width: calc($promo_logo_width * .7);
      height: calc($promo_logo_height * .7);
      left: 550px;
    }
  }

  .benefits {
    &__items {
      grid-template: minmax(49px, 1fr) / repeat(2, 1fr);
    }
  }

  .mentors {
    &__block {
      @include column;
      height: auto;

      &-img {
        border-radius: 15px;
        height: 497px;
        width: 497px;
      }

      &:nth-child(even) {
        flex-direction: column-reverse;
      }

      &-info {

        li {
          font-size: $font_m;
  
          &::before {
            display: none;
          }
        }
      }
    }
  }


} 

@media (max-width: 1040px) { 

  .promo {
    &__title {
      font-size: $font_xl;
      font-weight: 600;
    }

    &__subtitle {
      font-size: $font_l;
    }

    &__logo {
      display: none;
    }
  }

  .disciplines {
    &__list {
     display: block;
    }
  }

} 

@media (max-width: 992px) { 

  .mentors {
    &__block {
      @include column;
      height: auto;

      &-img {
        border-radius: 15px;
        height: 497px;
        width: 497px;
      }

      &:nth-child(even) {
        flex-direction: column-reverse;
      }

      &-info {
        li {
          font-size: $font_m;
  
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
 
@media (max-width: 830px) { 
  .objective {
    
    &__ellipse {
      display: none;
    }
  }
}
 
@media (max-width: 768px) { 

  .promo-bg {
   display: none;
  }

  .main-bg {
    display: none;
  }

  .main-screen {
    height: auto;
    background-color: $color_dark_blue;
  }

  .title {
    text-align: center;
    font-size: $font_l;
    font-weight: 600;
 
    span {
      font-size: $font_l;
      font-weight: 600;
    }
  }

  .header {
    &__wrapper {
      @include column;
    }
  
    &__menu {
      margin-top: 40px;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 170px;

      li {
        a {
          font-size: $font_m;
        }
      }
    }
  }

  .promo {
    padding: 10% 0 10% 0;

    &__wrapper {
      @include column;
    }

    &__title {
      font-size: $font_l;
      font-weight: 600;
    }

    &__subtitle {
      font-size: $font_l;
      font-weight: 600;
    }
  }

  .objective {
    &__wrapper {
      @include column;
    }

    &__descr {
      margin: 63px 0 0 0;
      font-size: 28px;
    }
  }

  .benefits {
    &__items {
      grid-template: minmax(49px, 1fr) / 1fr;
    }
  }
} 


 
@media (max-width: 576px) { 

  section {
    padding: 100px 0 0 0 !important;

    &:last-child {
      padding: 100px 0 100px !important;
    }
  }

 .title {
    font-size: $font_xl_mobile;
    line-height: 150%;
    span {
      font-size: $font_xl_mobile;
    }
  }

  .header__logo {
    margin: 0 auto;
  }

  .header {
    &__menu {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }

  .promo {
    &__title {
    font-size: $font_xl_mobile;
    }

    &__subtitle {
      font-size: $font_xl_mobile;
    }
  }

  .objective {
    &__descr {
      font-size: $font_l_mobile;
      text-align: center;
    }

    &__benefits {
      .box {
        ul {
          li {
            font-size: 14px;
          }
        }
      }
    } 
  }

  .benefits {
    &__items {
      margin: 75px 0 0 0;
      grid-template: minmax(49px, 1fr) / 1fr;
      row-gap: 60px;
    }

    &__item {
      position: relative;
      line-height: 150%;
      font-size: $font_l_mobile;
      text-align: center;
  
      &::before {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
 
  .mentors {
    &__block {
      @include column;
      height: auto;

      &-title {
        font-size: $font_m;
        text-align: center;
      }

      &-img {
       
        max-height: 290px;
        max-width: 290px;
      }

      &:nth-child(even) {
        flex-direction: column-reverse;
      }

      &-info {
        padding: 20px 10px 10px;
        li {
          font-size: $font_l_mobile;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  .disciplines {
    ul {
      li {
        gap: 10px;
        p {
          font-size: $font_xs;
          font-weight: 400;
        }
      }
    }

    &__icon {
      width: 50px !important;
      height: 50px !important;
    }
  }

}

