html, body {
	height: auto;
}

body {
	background: $color_white;
}

img {
	width: 100%;
	display: block;
}

ul, p {
	margin: 0;
	padding: 0;
}

* {
	font-family: 'GolosText', sans-serif;
	color: $color_main;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}

.promo-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.main-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.main-screen {
	position: relative;
}

.main-screen {
	height: 100vh;
}

.screen-separator {
	width: 101px;
}

.title {
	font-size: $font_xl;
	font-weight: 600;
	letter-spacing: -0.01em;
	color: $color_black;

	span {
		font-size: $font_xl;
		font-weight: 600;
		letter-spacing: -0.01em;
		color: $color_blue;
	}
}

.video {
	padding: 0;

	&__wrapper {
		video {
			width: 100%;
		}
	}
}









