// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@font-face {
 font-family: 'Golos Text';
 src: url('../assets/fonts/GolosText-Bold.woff2') format('woff2'),
     url('../assets/fonts/GolosText-Bold.woff') format('woff'),
     url('../assets/fonts/GolosText-Bold.ttf') format('truetype');
 font-weight: 700;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Golos Text';
 src: url('../assets/fonts/GolosText-DemiBold.woff2') format('woff2'),
     url('../assets/fonts/GolosText-DemiBold.woff') format('woff'),
     url('../assets/fonts/GolosText-DemiBold.ttf') format('truetype');
 font-weight: 600;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Golos Text';
 src: url('../assets/fonts/GolosText-Regular.woff2') format('woff2'),
     url('../assets/fonts/GolosText-Regular.woff') format('woff'),
     url('../assets/fonts/GolosText-Regular.ttf') format('truetype');
 font-weight: 400;
 font-style: normal;
 font-display: swap;
}
