.header {
	&__wrapper {
		justify-content: space-between;
	}

	&__logo {
		width: 89px;
	}

	&__menu {
		justify-content: center;

		li {
			a {
				font-size: $font_xs;
				text-transform: uppercase;
				letter-spacing: 0.205em;
				font-weight: 700;
				color: $color_white;
			}
		}
	}
}